<% provide(:title, 'Visualizar Estudante') %>
<h1>Visualizar Estudante</h1>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading"><%= @estudante.nome%></h4>
    <p class="list-group-item-text">Número de Registro: <%= @estudante.num_registro%></p>
    <p class="list-group-item-text">Status: <%= @estudante.status%></p>
  </a>
</div>

<div class="form-actions">
    <%= link_to t('.new', :default => t("helpers.links.back")),
    estudantes_path,
    :class => 'btn btn-primary btn-sm active' %>
</div>